{{partial "head" .}}

<header>
    {{partial "header" .}}
</header>

<main class = "main-content">
<div class="list">
    {{ if .Title }}
      <h1 class="list__title">The {{ .Title }}</h1>
    {{ end }}  
    <div class="list__container">
      <section class="list__posts">
        {{ $paginator := .Paginate (where .Data.Pages  "Section" "!=" "") 7 }}
        <ul class="list__list">
          {{ range $paginator.Pages }}      
            <li class="list__item">
              
                <div class="list__item-inner">
                  <h2 class="list__meta">{{ .Date.Format "January 2, 2006" }}</h2>
                  <a class="list__link" href="{{ .URL | relLangURL }}">
                  <h2>{{ .Title }}</h2>
                 </a>
                </div>
              
            </li>
          {{ end }}
        </ul>
        {{ partial "pagination.html" . }}
      </section>
    </div>
  </div>
</main>
  {{ partial "footer.html" . }}