{{ partial "header.html" . }}

<main class = "main-content">
<div class="list">
    {{ if .Title }}
      <h1 class="list__title">{{ .Title }}</h1>
    {{ end }}  
    <div class="list__container">
      <section class="list__posts">
        {{ $paginator := .Paginate (where .Data.Pages  "Section" "!=" "") 7 }}
        <ul class="list__list">
          {{ range $paginator.Pages }}      
            <li class="list__item">
              
                <div class="list__item-inner">
                  <!-- {{ if .Params.image }}
                    <div class="list__item-image">
                        <div style="background-image: url({{ .Params.image.url | absURL }})" class="list__image"></div>
                    </div>
                  {{ else }}
                    <div class="list__item-image">
                      <img src="{{ "img/placeholder.svg" | relURL }}" class="list__image list__image-placeholder">
                    </div>
                  {{ end }} -->
                  <h2 class="list__meta">{{ .Date.Format "Jan 2,2006" }}</h2>
                  <a class="list__link" href="{{ .URL | relLangURL }}">
                  <h2 class="list__title">{{ .Title }}</h2>
                 </a>
                </div>
              
            </li>
          {{ end }}
        </ul>
        {{ partial "pagination.html" . }}
      </section>
    </div>
  </div>
</main>
  {{ partial "footer.html" . }}