{{partial "head" .}}

<header>
    {{partial "header" .}}
</header>
<main class = "main-content">
  <div class="post">
    <div class="post__container">
      <section class="post__content">
        {{if .Params.image }}
          <img  src="{{ .Params.image.url | relURL }}">
        {{ end }}
        <div class="meta">
          {{ if .Params.date }}
            <span class="meta__date">{{ .Date.Format "Jan 2,2006" }}</span>
          {{ end }}
        </div>
        <h1 class="post__title">{{ .Title }}</h1>
        {{ .Content }}
      </section>
      {{ partial "tags.html" . }}
    </div>
  </div>

</main>


{{ partial "footer.html" . }}