@import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Mono");
body {
  font-size: calc(14px + .2vw);
  position: relative;
  overflow-x: hidden;
  margin: 0 auto; }

@media all and (min-width: 52rem) {
  @supports (display: grid) {
    body {
      display: grid;
      grid-template-columns: repeat(12, 1fr); }
    .page-header {
      grid-row: 1;
      grid-column: 2/12;
      display: grid;
      grid-template-columns: repeat(12, 1fr); }
    .main-content {
      grid-row: 2;
      grid-column: 2/12;
      display: grid; }
    .footer {
      grid-column: 1/13;
      display: grid;
      grid-row: 3; } } }

@media all and (max-width: 52rem) {
  .main-content,
  .footer {
    padding: 2rem; } }

img {
  max-width: 100%; }

table {
  max-width: 100%; }

table.main {
  width: 100%;
  padding: 0;
  font-size: .9em;
  color: #111; }

table.main td {
  padding: .75em 1em; }

table.main td:first-of-type, table.main td:first-of-type a {
  font-weight: bold; }

table.main tr:nth-of-type(odd) {
  background-color: #fff; }

table.main tr:nth-of-type(even) {
  background-color: #eee; }

table.main tr:first-of-type {
  background-color: #333;
  color: #fff; }

table.minimal {
  display: block;
  width: 100%;
  border-collapse: collapse; }

table.minimal td {
  padding: .5em .75em;
  border: 1px solid #ddd; }

table.minimal td:first-of-type {
  font-weight: bold; }

dd, ul, ol {
  list-style-type: none; }

body {
  font-family: "PT Mono", sans-serif;
  color: #07172E;
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

button,
input,
textarea,
select {
  font-family: "Open Sans", monospace, sans-serif;
  font-weight: inherit; }

strong,
b {
  font-weight: bold; }

a {
  color: #0072FF; }

.page-header {
  padding-top: 1rem; }
  .page-header .logo {
    margin: 0; }
    .page-header .logo img {
      height: 4rem; }
      @media (max-width: 52rem) {
        .page-header .logo img {
          height: calc(2.5rem + .02vw); } }
  .page-header .header__nav {
    grid-column: 3/13; }
    .page-header .header__nav .nav-group {
      margin: 0; }
      .page-header .header__nav .nav-group .nav-link {
        padding: 1rem; }
        .page-header .header__nav .nav-group .nav-link a {
          text-decoration: none;
          color: black; }
      .page-header .header__nav .nav-group .nav-link:hover {
        background-color: #101F34; }
        .page-header .header__nav .nav-group .nav-link:hover a {
          color: aliceblue; }
      @media (min-width: 52rem) {
        .page-header .header__nav .nav-group {
          display: flex;
          align-items: flex-end;
          align-content: space-between;
          float: right; } }

.footer {
  padding: 1rem;
  background-color: #101F34;
  color: #fff; }
  .footer__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    max-width: 74rem;
    padding-left: 2rem;
    padding-right: 2rem; }
  .footer__menu {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 24px; }
    @media screen and (min-width: 40rem) {
      .footer__menu {
        padding-bottom: 80px;
        padding-top: 80px; } }
    @media (min-width: 52rem) {
      .footer__menu .availability {
        float: left;
        width: 50%; } }
    .footer__menu .footer-links {
      text-align: left;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      margin-top: 24px;
      flex-direction: column; }
      .footer__menu .footer-links a {
        margin-top: 0.5rem;
        color: #fff; }
      @media (min-width: 52rem) {
        .footer__menu .footer-links {
          float: right;
          width: 50%;
          margin-top: 0; } }
  .footer__social {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .footer__social a {
      margin: 0.5rem;
      align-self: center; }
  .footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #616d7c;
    padding-top: 24px;
    padding-bottom: 24px; }
    @media screen and (min-width: 40rem) {
      .footer__copyright {
        padding-top: 40px;
        padding-bottom: 40px; } }
    .footer__copyright > * {
      line-height: 1.5rem; }
      @media (max-width: 40rem) {
        .footer__copyright > * {
          width: 100%;
          text-align: center; } }
    .footer__copyright a {
      font-size: 13px;
      color: #616d7c; }
    .footer__copyright .copy,
    .footer__copyright .contact,
    .footer__copyright .languages {
      width: 100%;
      text-align: center; }
      @media screen and (min-width: 40rem) {
        .footer__copyright .copy,
        .footer__copyright .contact,
        .footer__copyright .languages {
          width: 33.3333%; } }
    @media screen and (min-width: 40rem) {
      .footer__copyright .copy {
        text-align: left; } }

.footer__aboutme {
  overflow: auto; }

.footer_logo {
  float: left;
  margin-bottom: 1rem;
  max-width: 100%; }

.footer__aboutme + p {
  float: right; }

.pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  margin-top: 60px; }
  .pagination .arrow .next {
    transform: rotate(-45deg); }
  .pagination .arrow .prev {
    transform: rotate(135deg); }
  .pagination .arrow i {
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px; }
  .pagination li {
    font-size: 14px;
    color: #0072FF;
    border-color: #0072FF;
    line-height: 30px;
    text-align: center;
    margin-right: 16px; }
  .pagination li.active a, .pagination li.disabled a {
    color: #92A4BA;
    border-color: #92A4BA; }
  .pagination li.disabled a {
    pointer-events: none;
    cursor: default; }
  .pagination a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px;
    display: block;
    line-height: 28px; }
