@import url('https://fonts.googleapis.com/css?family=Merriweather|Nunito:800');

body {
  transition: transform .25s ease-out;
  margin : 1rem !important;
}


@media (min-width: 52rem) {
  .main-content{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .main-content .list{
    grid-column: 2/12;
  }

  .main-content .post{
    grid-column: 2/12;
  }
}
img {
  max-width: 100%; }

table {
  max-width: 100%; }

table.main {
  width: 100%;
  padding: 0;
  font-size: .9em;
  color: #111; }

table.main td {
  padding: .75em 1em; }

table.main td:first-of-type, table.main td:first-of-type a {
  font-weight: bold; }

table.main tr:nth-of-type(odd) {
  background-color: #fff; }

table.main tr:nth-of-type(even) {
  background-color: #eee; }

table.main tr:first-of-type {
  background-color: #333;
  color: #fff; }

table.minimal {
  display: block;
  width: 100%;
  border-collapse: collapse; }

table.minimal td {
  padding: .5em .75em;
  border: 1px solid #ddd; }

table.minimal td:first-of-type {
  font-weight: bold; }

dd, ul, ol {
  list-style-type: none; }

body {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.5px; 
  font-size: 1rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }

h1{
  font-size: 4rem;
  font-family: 'Nunito', sans-serif;
}

button,
input,
textarea,
select {
  font-family: 'Nunito', sans-serif;
  font-weight: inherit; }

strong,
b {
  font-weight: bold; }

a {
  color: #0072FF; }

header {
  padding-top: 1rem; 
  margin-bottom: 7vw;
  }
  @media (min-width: 52rem) {
    header {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }

    header .logo{
      grid-column: 2;
    }

    header .header__nav .nav-group {
      display: flex;
      align-items: flex-end;
      align-content: space-between;
      float: right; 
    }

    header .header__nav {
      grid-column: 3/12;
    }
    
    .menu-trigger{
      display: none;
    }
  }
  header .logo {
    margin: 0; }
    header .logo #logo_img {
      max-width: 80px; }
 
    header .header__nav .nav-group {
      margin: 0;
      padding: 0;
    }
      header .header__nav .nav-group .nav-link {
        transition: background-color 0.1s ease-in;
        padding: 1rem; }
        header .header__nav .nav-group .nav-link a {
          transition: color 0.1s ease-in;
          text-decoration: none;
          color: black; }
      header .header__nav .nav-group .nav-link:hover {
        background-color: #101F34; }
        header .header__nav .nav-group .nav-link:hover a {
          color: aliceblue; }

  .menu-trigger {
  top: 30px;
  position: absolute;
  width: 60px;
  height: 60px;
  right: 1em;
  background: none;
  outline: none;
  font-size: .85em;
  cursor: pointer;
  line-height: 1.3;
  border-radius: 5px;
  border: none;
  font-family: 'Nunito', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px; }

@media all and (max-width: 1024px) {
  .menu-trigger {
    display: block;
    position: absolute;
    z-index: 10;
    top: 1.5em;
    right: 1em;
    padding: .5em 1em; }

    body.open {
      transform: translateY(350px);
  }
  
  .header__nav .nav-group {
      position: fixed;
      margin: 0;
      z-index: 9;
      padding: 2em;
      top: -350px;
      left: 0;
      width: 100%;
   }
  }

.enhanced .menu-trigger:hover {
  border: none;
  background: #000;
  color: #fff; }

.menu-trigger__icon {
  font-size: 1.2em;
  display: inline-block;
  font-weight: bold;
  margin-left: .35em;
  position: relative; }

.footer {
  padding: 1rem;
  margin-top: 3rem;
  background-color: #101F34;
  color: #fff; }
  .footer__container {
    max-width: 100rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 
 .footer-links-list{
  display: flex;
  flex-direction: column;
}

.footer-links-list li{
  display: inline-block;
  padding: 1rem;
}

.footer-links-list li a{
  text-decoration: none;
  transition: color 0.1s ease-in;
}

.footer-links li:hover {
  color: #101F34;
  background-color: #fff;
 }

    @media (min-width: 52rem) {
      .footer{
        display: grid;
        grid-template-columns: repeat(12, 1fr);
      }
      .footer__container {
        grid-column: 2/12;
        display : grid;

        grid-template-areas: "footer_pic desc"
                              "availability links"
                              "social social"
                              "contact contact"
      }
      .footer__aboutinfo{
        grid-area: footer_pic;
      }

      .footer__aboutme{
        grid-area: desc;
      }

      .availability{
        grid-area: availability;
      }

      .footer-links{
        grid-area: links;
      }

      .footer__social{
        grid-area: social;
      }

      .footer__copyright{
        grid-area: contact;
      }



        .footer-links-list{
          flex-direction: row;
          justify-content: space-between;
        }
        
        .footer-links h2{
        text-align: center;
      }
     }
  .footer__menu {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 24px; }
    @media screen and (min-width: 40rem) {
      .footer__menu {
        padding-bottom: 80px;
        padding-top: 80px; } }

       .footer-links a {
        margin-top: 0.5rem;
        color:inherit; }
  .footer__social {
    border-top: 1px solid rgba(255, 255, 255, 0.12);
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
    .footer__social a {
      margin: 0.5rem;
      align-self: center; }
  .footer__copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #616d7c;
    padding-top: 24px;
    padding-bottom: 24px; }
    @media screen and (min-width: 40rem) {
      .footer__copyright {
        padding-top: 40px;
        padding-bottom: 40px; } }
    .footer__copyright > * {
      line-height: 1.5rem; }
      @media (max-width: 40rem) {
        .footer__copyright > * {
          width: 100%;
          text-align: center; } }
    .footer__copyright a {
      font-size: 13px;
      color: #616d7c; }
    .footer__copyright .copy,
    .footer__copyright .contact,
    .footer__copyright .languages {
      width: 100%;
      text-align: center; }
      @media screen and (min-width: 40rem) {
        .footer__copyright .copy,
        .footer__copyright .contact,
        .footer__copyright .languages {
          width: 33.3333%; } }
    @media screen and (min-width: 40rem) {
      .footer__copyright .copy {
        text-align: left; } }

.footer__aboutme {
  overflow: auto; }

.footer_logo {
  margin-bottom: 1rem;
  max-width: 100%; }

.footer__aboutme + p {
  float: right; }


.tags_list_li{
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem 0.5rem;
  color: #fff;
  background-color: #101F34;
  border-radius: 10px;
}
.tags_list_li a{
  text-decoration: none;
  color: inherit;
}
.pagination {
  margin-left: auto;
  margin-right: auto;
  max-width: 70rem;
  display: flex;
  flex-direction: row;
  margin-top: 60px; }
  .pagination .arrow .next {
    transform: rotate(-45deg); }
  .pagination .arrow .prev {
    transform: rotate(135deg); }
  .pagination .arrow i {
    border: solid;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px; }
  .pagination li {
    font-size: 14px;
    color: #0072FF;
    border-color: #0072FF;
    line-height: 30px;
    text-align: center;
    margin-right: 16px; }
  .pagination li.active a, .pagination li.disabled a {
    color: #92A4BA;
    border-color: #92A4BA; }
  .pagination li.disabled a {
    pointer-events: none;
    cursor: default; }
  .pagination a {
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: solid 1px;
    display: block;
    line-height: 28px; }
