{{partial "head" .}}

<header>
    {{partial "header" .}}
</header>

<main class = "main">
    <div class = "not_found">
        {{/*  {{< figure src="/images/lost.gif" caption="" attr="" attrlink="" >}}  */}}
        <img src ="/images/lost.gif"/>
        <h1>Hey there, seems like you are lost!</h1>
        <p>Looks like the page you’re looking for does not exist, or the link that got you here is outdated or broken.</p>
        <p> You may find what you’re looking for in one of the sections available in the menu at the top right of this page.</p>
     </div>
</main>

{{partial "footer" .}}