<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ $baseurl := .Site.BaseURL }}
{{ partial "head" .}}
<body>
    
  <!-- <header class="page-header">
    <div class="header-container">
      <div class="nav-wrapper">
        <div class="header-inner">
          <a href="//www.karankhanchandani.com/" class="logo">
            <img src="{{ "/images/favicon.png" | relURL }}" alt="Karan Khanchandani">
          </a>
          <div>
            <button class="menu-toggle-btn menu-show-btn" onclick="toggleMenu(true)"></button>
            <div class="menu-overlay" style="display:none"></div>
            <div class="nav">
              <div class="nav-inner">
                <button class="menu-toggle-btn menu-hide-btn" onclick="toggleMenu(false)"></button>
                <nav>
                  {{ partial "menu.html" . }}
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function toggleMenu(menuVisible)
      {
        if (menuVisible) {
          $('.menu-overlay').show();
          $('.nav-inner').addClass('visible');
          $('body').css('overflow', 'hidden');
        } else {
          $('.menu-overlay').hide();
          $('.nav-inner').removeClass('visible');
          $('body').css('overflow', 'auto');
        }
      }
    </script>
  </header> -->

  <header class = "page-header">
    <h1 class = "logo">
      <a href="//www.karankhanchandani.com/" class="logo">
        <img src="{{ "/images/favicon.png" | relURL }}" alt="Karan Khanchandani">
      </a>
    </h1>
    <button class="menu-toggle-btn menu-show-btn" onclick="toggleMenu(true)"></button>
    <nav class ="header__nav">
        <button class="menu-toggle-btn menu-hide-btn" onclick="toggleMenu(false)"></button>
      {{ partial "menu.html" . }}
    </nav>

      <script type="text/javascript">
      function toggleMenu(menuVisible)
      {
        if (menuVisible) {
          $('.menu-show-btn').hide();
          $('.header__nav').addClass('visible');
          $('body').css('overflow', 'hidden');
        } else {
          $('.menu-show-btn').show();
          $('.header__nav').removeClass('visible');
          $('body').css('overflow', 'auto');
        }
      }
    </script>
    
  </header>
  </body>