<section class="tags">        
        <div class="tags__list">
          {{ range $i := (slice "tags") }}
            {{ with ($.Param $i) }}
                {{ range $k := . }}
                <li class = "tags_list_li">
                  <a class="meta__link" href="{{ relLangURL (print "/" $i "/" $k | urlize) }}">#{{$k}}</a>
                  </li>
                {{ end }}
            {{ end }}
          {{ end }}
        </div>
</section>

<section class="categories">
        <div class="tags__list">
          {{ range $i := (slice "categories") }}
            {{ with ($.Param $i) }}
                {{ range $k := . }}
                <li class = "tags_list_li">
                  <a class="meta__link" href="{{ relLangURL (print "/" $i "/" $k | urlize) }}">#{{$k}}</a>
                </li>
                {{ end }}
            {{ end }}
          {{ end }}
        </div>
</section>
