body{
    font-size: calc(14px + .2vw);
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
}

@media all and (min-width : $breakpoint-md){
    @supports(display: grid){
        body{
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
        .page-header{
            grid-row: 1;
            grid-column: 2/12;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }
        .main-content{
            grid-row: 2;
            grid-column: 2/12;
            display: grid;
        }
        .footer{
            grid-column: 1/13;
            display: grid;
            grid-row: 3;
        }
    }
}

@media all and (max-width : $breakpoint-md){
    .main-content,
    .footer{
        padding: 2rem;
    }
}